<!-- partials/footer start -->
<footer class="row footer">
    <div class="col text-muted">Built with
        <a class="text-muted" href="https://gohugo.io/">Hugo</a>
        and
        <a class="text-muted" href="https://getbootstrap.com/">Bootstrap</a>
        by
        <a class="text-muted" href="https://twitter.com/alunwcom">@alunwcom</a>.
    </div>
</footer>
<!-- partials/footer end -->