<!-- partials/header start -->
<div class="row pl-0 pr-0">
    <div class="col jumbotron-fluid p-4 p-md-5 text-white bg-dark" style="background-image: url(/images/sacalobra-edit2.jpg); background-size: cover;">
        <div class="col-md-10 px-0">
            <h1 class="h1">{{ site.description }}</h1>
            <p class="lead my-3 font-italic">{{ site.summary }}</p>
        </div>
    </div>

    {% comment %}
    <div class="col jumbotron-fluid p-3 text-white bg-dark">
        <h1 class="h3">{{ .Title }}</h1>
    </div>
    {% endcomment %}

</div>
<!-- partials/header end -->
