html {
  overflow-y: scroll;
  /*
  position: relative;
  min-height: 100%;
  */
}
.blog-post a, .blog-sidebar a, .breadcrumb a {
  color: #726641;
}
.blog-post-info {
  color: #888;
  background-color: #ebe8dd;
  padding: 0 .5rem;
  margin-bottom: .5rem;
}
.blog-post-info time {
  float: left;
  padding-right: 1.5rem;
}
.blog-post-info ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.blog-post-info ul li {
  float: left;
  padding-right: .5rem;
}
.blog-post-info ul li+li::before {
  display: inline-block;
  padding-right: .5rem;
  content: "/";
}



.main-nav {
  text-transform: lowercase;
  padding: .5rem 1rem .5rem 0 !important;
}
nav {
  background-color: #ebe8dd;
  opacity: 0.95;
}
.breadcrumb {
  background-color: #fff;
}
.main-body {
  position: relative;
  min-height: 100vh !important;
  /* background-color: burlywood; temp debug */
}
.article-body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #ebe8dd;
}

/* pagination */
.page-link {
  border: none;
}
.pagination {
  margin: 1rem 0 2rem 0;
}
.page-link {
  color: #726641;
}
.page-item.active .page-link {
  background-color: #726641;
}