<!DOCTYPE html>
<html lang="{{ site.language }}">
{% include head %}
<body>
  <div class="container main-body border-left border-right border-dark">
{% include navbar %}
{% include header %}
    <div class="row pt-1 pl-0 pr-0 pb-1">
      <div class="col article-body">
        {{ content }}
      </div>
    </div>
{% include footer %}
  </div>
</body>
</html>